.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  text-transform: capitalize;
}

.topBar .filtersOption {
  display: flex;
}

.topBar .filtersOption span {
  margin-left: 20px;
  cursor: pointer;
}

.main {
  display: flex;
  position: relative;
}

.row {
  margin: 3vw 0;
}

.row .container {
  position: relative;
  display: flex;
}

.row .container:hover .text {
  opacity: 1;
}

.products {
  width: 83%;
  margin-left: auto;
  padding: 50px 50px 50px 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  /* transform: translateX(
      calc(
        (
            var(--slider-index) *
              (-100% + ((var(--slider-padding) * 2) + var(--movie-margin)))
          ) / (var(--items-per-screen))
      )
    );  */
  transition: width 200ms ease-in-out;
}

.sideBar {
  position: fixed;
  left: 0;
  width: 17%;
  padding: 50px 20px 50px 50px;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  transition: transform 200ms ease-in-out;
  text-transform: capitalize;
}

.filter {
  padding: 20px 0;
  border-bottom: 2px solid lightgrey;
  text-transform: capitalize;
}

.title {
  margin-bottom: 20px;
}

.filterChoice {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide the browser's default checkbox */
.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid lightgrey;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000;
  color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
