.row {
  margin: 3vw 0;
}

.row .container {
  position: relative;
  display: flex;
}

.row .container:hover .text {
  opacity: 1;
}

.products {
  width: 83%;
  margin-left: auto;
  padding: 50px 50px 0px 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* transform: translateX(
      calc(
        (
            var(--slider-index) *
              (-100% + ((var(--slider-padding) * 2) + var(--movie-margin)))
          ) / (var(--items-per-screen))
      )
    );  */
  transition: width 200ms ease-in-out;
}
