ul.categories {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  list-style: none;
}

ul.categories li {
  margin: 0 1.35rem;
}

@media (max-width: 576px) {
  ul.categories {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
