ul.categories {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

ul.categories .navlink {
  margin: 0 1.35rem;
  text-transform: capitalize;
  color: grey;
  text-decoration: none;
}

.active {
  margin: 0 1.35rem;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  ul.categories {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
