.intro {
  margin: 70px auto;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  width: 75%;
}

.intro h2 {
  font-size: 48px;
}

.categories {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
