.categorie {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.overlay {
  background-color: lightgrey;
  opacity: 0.5;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.categorie:hover .overlay {
  height: 100%;
}

.categorie img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.categorie:hover img {
  transform: scale(1.1);
}
