.categorie {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.categorie img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.categorie:hover img {
  transform: scale(1.1);
}
