* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
